		.container {  
			width: 80%;
			border: none;
			margin: auto;	
			overflow: none;	
			background-image: url("https://media.defense.gov/2017/Dec/04/2001852059/-1/-1/0/171208-F-PO640-013.JPG");
			background-size: cover;
			background-repeat: no-repeat;
		}

		header,
		footer {
			padding: 16px;
			color: white;
			background-color: #007196;
			clear: left;
			text-align: center;
		}

		nav {
			float: right;
			max-width: 160px;
			height: 420px;
			padding: 32px;
			border: solid black;
		}

		nav ul {
			list-style-type: square;
			padding: 0;
		}

		nav ul a {
			text-decoration: none;
			color: black;
		}

		article {
			text-align: center;
			padding: 16px;
			height: 455px;	
		}
		